
<section class="modal fade" tabindex="-1" id="add-order-product-modal">
    <div class="bg-light modal-dialog">
        <div class="modal-header">
            <h1>Añadir item</h1>
        </div>
        <div class="modal-body">
            <form action="">
                {% csrf_token %}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-close" data-bs-dismiss="modal" value="Close" aria-label="Close">
        </div>
    </div>
</section>
