{% extends 'dimpro/staff/staff_layout.html' %}
{% load static %}
{% block title %}
    Pedidos
{% endblock %}

{% block stitle %}
    Pedidos
{% endblock %}

{% block body %}
    <div class="row g-3 my-2">
        <div class="row my-5">
            <h3 class="fs-4 mb-3 primary-text">Todos los pedidos</h3>
            <div class="col mx-auto">
                <div class="table-responsive">
                    <table id="datatable-orders" class="table bg-white rounded shadow-sm table-hover">
                        <thead>
                            <tr>
                                <th width="50">ID</th>
                                <th>Vendedor</th>
                                <th>Cliente</th>
                                <th>Items</th>
                                <th>Estatus</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>  
                        <tbody id="tableBody_orders"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- Bootstrap -->
   
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTable.js -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'dimpro/tables.js' %}"></script>
    <script>
        ShowDataTable(listOrdersAll);
    </script>
    </script>
    

{% endblock %}