{% extends 'dimpro/staff/staff_layout.html' %}

{% load static %}

{% block title %}
    Pedido #{{ order.id }}
{% endblock %}

{% block stitle %}
    Pedido #{{ order.id }}
{% endblock %}

{% block body %}
    <div class="row g-3 my-5">

        <div class="col-md-12 col-12">
            <div class="col-md-12 d-flex flex-row">
                <div class="col-6 col-md-6  align-items-center">
                    <h3 id="item-count"class="fs-4 mb-3 primary-text">Items: </h3>
                    
                </div>
                <div class="d-flex justify-content-end w-100 mb-5">
                    <form id="price-type" class="w-50">
                        <label for="type" class="primary-text">Tipo de precio</label>
                        <select name="type" class="form-select" id="select-ptype" onchange="updatePrices();">
                            {% for price in pricetypes %}
                                {% if order.pricetype and order.pricetype == price.name %}
                                    <option value="{{ percentage }}" selected>{{ order.pricetype }}</option>
                                {% elif price.default %}
                                    <option value="{{ price.percentage }}" selected>{{ price.name }}</option>
                                {% else %}
                                    <option value="{{ price.percentage }}">{{ price.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>
                
            </div>
            
            <div class="col mx-auto d-flex flex-column">
                <form id="edit-form"method="post" action="{% url 'dimpro:edit_order' order.id %}"   onsubmit="postData();window.location.href=`{% url 'dimpro:staff_order_view'  order.id %}`; ">
                    <p style="display: none;" id="csrf">{{ csrf_token }}</p>
                    {% csrf_token %}
                    <input type="hidden" value="{{ order.total }}" id="total-tosubmit" name="total-tosubmit">
                    <input type="hidden" value="{{ order.pricetype }}" id="price-tosubmit" name="price-tosubmit">
                    <div class="table-responsive">
                        <table id="datatable-orders" class="table bg-white rounded shadow-sm table-hover">
                            <thead>
                                <tr>
                                    <th width="50">ID</th>
                                    <th>Item</th>
                                    <th>Referencia</th>
                                    <th>Cantidad</th>
                                    <th>Disponibilidad</th>
                                    <th>Precio</th>
                                    <th>Costo</th>
                                    <th></th>
                                </tr>
                            </thead>  
                            <tbody id="tableBody_orders"></tbody>
                        </table>
                        
                    </div>

                    <div class="col-12 col-md-12 mt-4 text-end d-flex justify-content-center">
                        <button onclick="addRow();"type="button" id="add-product"class="mx-2 grow btn btn-primary"><i class="fa-solid fa-plus mx-1"></i>Añadir item</button>
                        <button type="submit" class="mx-2 grow btn btn-primary"><i class="fa-solid fa-pen-to-square mx-1"></i>Guardar</button>
                        {% if user.is_operator %}
                        <a href="{% url 'dimpro:delete_order' order.id %}">
                            <button style="background-color: rgb(206, 95, 95) !important; border: none;" type="button" class=" mx-2 btn btn-primary grow"><i class="fa-solid fa-trash mx-1"></i></button>
                        </a>
                        {% endif %}
                        {% include 'dimpro/staff/add_order.html' %}
                    </div>
                    
                    <div class="flex-row d-flex">
                        <div class="col-6 col-md-6 d-flex flex-row align-items-center justify-content-start w-50">
                            
                        </div>
                        <div class="d-flex flex-column col-6 col-md-6 w-50">
                            <div id="subtotal" class="d-flex flex-row align-items-center justify-content-end">
                            
                                <h3 class="fs-5 mb-3 primary-text">Subtotal: </h3>
                                <h3 id="subtotal-v"  class="fs-5 mb-3 primary-text mx-2">$</h3>
                            </div>
                            <div id="iva" class="d-flex flex-row align-items-center justify-content-end">
                            
                                <h3 class="fs-5 mb-3 primary-text">+ I.V.A.: </h3>
                                <h3 id="iva-v"  class="fs-5 mb-3 primary-text mx-2">$</h3>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-end">
                            
                                <h3 class="fs-3 mb-3 primary-text">Total: </h3>
                                <h3 id="total" class="fs-3 mb-3 primary-text mx-2">{{ order.total }}$</h3>
                            </div>
                        </div>
                        
                    </div>
                   
                    {% if not note.note == "" and not request.user.is_operator or request.user.is_operator %}
                    
                    <div class="card my-3 p-3">
                        <div id="x-csrf" style="display: none;">{{ csrf_token }}</div>
                        <h4 id="warningText" class="primary-text">Recordatorio</h4>
                        <div class="card-body" id="warning">
                          {{ note.note|linebreaks }}
                        </div>
                        {% if request.user.is_operator %}
                        <button type="button" id="warningEditBtn" class="btn btn-primary grow preparado"><i class="fa-solid fa-pen-to-square mx-1"></i></button>

                        <textarea class="form-control my-3" id="warningTextEdit" cols="20" rows="10" style="display:none">{{ note.note }}</textarea>
                        <div id="warningSaveBtn" class="d-flex flex-row" style="display:none !important;">
                            <button type="button" id="saveBtn" class="btn btn-primary grow preparado"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                                <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
                            </svg></button>
                            <button type="button" id="closeBtn" class="btn btn-primary grow preparado mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                              </svg></button>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    
                    <datalist id="product-selection">
                        {% for product in products %}
                            {% if product.reference and product.id and product.available_quantity %}
                                <option value="{{product.item }}"></option>
                            {% endif %}
                        {% endfor %}
                    </datalist>
                </form>
                
            </div>
        </div>   
                
    </div>
    <!-- Bootstrap -->
   
    <!-- jQuery -->
    <script src="{% static 'dimpro/submit.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTable.js -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Custom JS -->
    <script src="{% static 'dimpro/tables.js' %}"></script>
    <script src="{% static 'dimpro/modify-table.js' %}"></script>
   
    <script>
    hasId=true;
    editDataTable(listOrderProductsEdit);
    const saveWarning = () => {
        let text = document.querySelector('#warningTextEdit').value;
        let csrfToken = document.querySelector('#x-csrf').innerText;
        fetch ('/staff/changewarning/',{
            headers: {
                "X-CSRFToken": csrfToken, 
                "Content-Type": "application/json"
            },
            mode: 'same-origin',
            method: 'POST',
            body: JSON.stringify({
                note:text
            })
        })
        .then(response => response.json())
        .then(document.querySelector('#warning').innerHTML = text.replace(/\n/g, "<br />"))
    }
    const toggleEditWarningOn = () => {   
        let warning = document.querySelector('#warning');
        warning.style.display = 'none';
        let textEdit = document.querySelector('#warningTextEdit');
        textEdit.style.display = 'block';
        document.querySelector('#warningEditBtn').setAttribute('style', 'display:none !important');
        document.querySelector('#warningSaveBtn').setAttribute('style', 'display:flex !important');
    }
    const toggleEditWarningOff = () => {
        warning = document.querySelector('#warning');
        warning.style.display = 'block';
        document.querySelector('#warningTextEdit').style.display = 'none';
        document.querySelector('#warningSaveBtn').setAttribute('style', 'display:none !important');
        document.querySelector('#warningEditBtn').setAttribute('style', 'display:block');
    }
    document.addEventListener('DOMContentLoaded', ()=> {
        document.querySelector('#warningEditBtn').addEventListener('click', toggleEditWarningOn);
        document.querySelector('#saveBtn').addEventListener('click', () => {
            toggleEditWarningOff();
            saveWarning();
        });
        document.querySelector('#closeBtn').addEventListener('click', toggleEditWarningOff);
        
    })
    </script>

{% endblock %}