
<table class="table bg-white rounded shadow-sm table-hover">
    <thead>
        <tr>
            <th scope="col" width="50">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha de creacion</th>
            <th scope="col">Ultimo inicio de sesión</th>
            <th scope="col">Pedidos</th>
        </tr>
    </thead>
    <tbody>
        {% for client in client_table %}
        <tr class="clickable-row" data-href="{% url 'dimpro:staff_client_view' client.id %}">
        
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.name }} {{ client.last_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.date_joined }}</td>
            <td>{{ client.last_login }}</td>
            <td>{{ client.order_count }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location.href = $(this).data("href");
        });
    });
</script>
