<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="myModal">
                <div class="bg-light modal-dialog">
                    <div class="modal-header">
                        <h1>Title</h1>
                    </div>
                    <div class="modal-body">
                        Body
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-default" value="Close">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>